<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><a  routerLinkActive="list-item-active" routerLink="/admin">
        <i class="bi bi-arrow-left-circle-fill"></i></a>Admin</div>
    <div class="page__content shadow p-3 position-relative">
        
            <!-- <div class="card" style="width: 18rem;">
                <img src="assets/images/userwomen.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">John Doe</h5>
                  <p class="card-text">Some quick example text </p>
                  <a href="#" class="btn">Know More</a>
                </div>
              </div> -->

        <section class="team">
            <div class="container">
               

                <div class="section-title ">
                    <h2>Users</h2>
                    <div class="right">
                        <span class="bi bi-plus-square-fill" data-toggle="tooltip" data-placement="top" title="Add"></span>
                        <span class="bi bi-trash-fill" data-toggle="tooltip" data-placement="top" title="Delete"></span>   
                    </div>
                       
                </div>
                <div class="row">
                    <!-- user 1 -->
                    <div class="col-lg-6 mt-1">
                        <div class="member d-flex align-items-start">
                            <div class="teampic">
                                <img src="assets/images/user7.jpg" class="img-fuild" alt="team1">
                            </div>
                            <div class="member-info">
                                <h4> John dee</h4>
                                <span>Chief Executive Ofiicer</span>
                                <p> ghjytdguysgu jyubjhhj ndhgjghjhbhgd gdggvhbjhgjh nghgh</p>
                            
                            <div class="social">
                               <a href=""><i class="bi bi-facebook"></i></a>
                               <a href=""><i class="bi bi-instagram"></i></a>
                               <a href=""><i class="bi bi-whatsapp"></i></a> 
                               <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- user2 -->
                    <div class="col-lg-6 mt-1">
                        <div class="member d-flex align-items-start">
                            <div class="teampic">
                                <img src="assets/images/user3.jpg" class="img-fuild" alt="team1">
                            </div>
                            <div class="member-info">
                                <h4> Agatha Christie</h4>
                                <span>Chief Executive Ofiicer</span>
                                <p> ghjytdguysgu jyubjhhj ndhgjghjhbhgd gdggvhbjhgjh nghgh</p>
                            
                            <div class="social">
                               <a href=""><i class="bi bi-facebook"></i></a>
                               <a href=""><i class="bi bi-instagram"></i></a>
                               <a href=""><i class="bi bi-whatsapp"></i></a> 
                               <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1">
                        <div class="member d-flex align-items-start">
                            <div class="teampic">
                                <img src="assets/images/user10.jpg" class="img-fuild" alt="team1">
                            </div>
                            <div class="member-info">
                                <h4> Barbara Cartland</h4>
                                <span>Chief Executive Ofiicer</span>
                                <p> ghjytdguysgu jyubjhhj ndhgjghjhbhgd gdggvhbjhgjh nghgh</p>
                            
                            <div class="social">
                               <a href=""><i class="bi bi-facebook"></i></a>
                               <a href=""><i class="bi bi-instagram"></i></a>
                               <a href=""><i class="bi bi-whatsapp"></i></a> 
                               <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1">
                        <div class="member d-flex align-items-start">
                            <div class="teampic">
                                <img src="assets/images/user1.jpg" class="img-fuild" alt="team1">
                            </div>
                            <div class="member-info">
                                <h4> Virginia Woolf </h4>
                                <span>Chief Executive Ofiicer</span>
                                <p> ghjytdguysgu jyubjhhj ndhgjghjhbhgd gdggvhbjhgjh nghgh</p>
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-whatsapp"></i></a> 
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                 </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1">
                        <div class="member d-flex align-items-start">
                            <div class="teampic">
                                <img src="assets/images/user2.jpg" class="img-fuild" alt="team1">
                            </div>
                            <div class="member-info">
                                <h4> Virginia Woolf </h4>
                                <span>Chief Executive Ofiicer</span>
                                <p> ghjytdguysgu jyubjhhj ndhgjghjhbhgd gdggvhbjhgjh nghgh</p>
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-whatsapp"></i></a> 
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                 </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-1">
                        <div class="member d-flex align-items-start">
                            <div class="teampic">
                                <img src="assets/images/user6.jpg" class="img-fuild" alt="team1">
                            </div>
                            <div class="member-info">
                                <h4> Virginia Woolf </h4>
                                <span>Chief Executive Ofiicer</span>
                                <p> ghjytdguysgu jyubjhhj ndhgjghjhbhgd gdggvhbjhgjh nghgh</p>
                                <div class="social">
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-whatsapp"></i></a> 
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                 </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
          
  
     </div>
</div>
