@import "../scss/scss.component.scss";

.inner{
    overflow: hidden;
  
  }
  .inner img{
    transition: all 1.5s ease;
  
  }
  .inner:hover img{
    transform: scale(1.5);
  
  }
  p{
    font-size: 15px;
  }
  .btn{
    padding-left:30;
  }
 
   a i{
    color: rgb(246, 246, 252);
    font-size: 20px;
    padding-right: 25px;
  }
   
   a:hover span{
    color: #512df4;
  }
  .icon-container {
    display: inline-block;
    position: relative;
    justify-content: space-between;
  }
  .icon-container {
    font-size: 15px;
    display: inline-block;
    position: relative;
    justify-content: space-between;
  }
  
  .icon-container .bi {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px; 
    cursor: pointer;
    color: #8c8e8e; 
  }
  
  .icon-container .bi:hover {
    color: #07325f; 
  }
  
  
  .icon-container .bi[data-toggle="tooltip"] {
    cursor: help;
  }
  .section-title{
    text-align: left;
}
.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    color: rgb(155, 26, 4);
}

