<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><a  routerLinkActive="list-item-active" routerLink="/admin">
        <i class="bi bi-arrow-left-circle-fill"></i></a>Admin</div>
    <div class="page__content shadow p-3 position-relative">
<div class="container">
    <div class="section-title ">
        <h3>guest_2023-02-17</h3>    
      </div>
    <div class="right">
        <span class="bi bi-pencil-fill" data-toggle="tooltip" data-placement="top" title="Edit"></span>
        <span class="bi bi-save-fill" data-toggle="tooltip" data-placement="top" title="Save"></span>
    </div>
        
    <!-- <table class="table  table-bordered table-hover">
        <thead class="bg-info text-white">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>length</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>Number</td>
                <td>10</td>    
            </tr>
            <tr>
                <td>name</td>
                <td>String</td>
                <td>Any</td>    
            </tr>
            <tr>
                <td>rank</td>
                <td>String</td>
                <td>100</td>    
            </tr>
            <tr>
                <td>mobile_no</td>
                <td>Number</td>
                <td>20</td>    
            </tr>
            <tr>
                <td>Id_Adhaar</td>
                <td>Number</td>
                <td>12</td>
                   
            </tr>
            <tr>
                <td>id_PAN</td> 
                <td>String</td>
                <td>10</td> 
            </tr>
            <tr>
                <td>id_DL</td>
                <td>String</td>
                <td>10</td>
                  
            </tr>
            <tr>
                <td>id_Voter_ID</td>
                <td>String</td> 
                <td>100</td> 
            </tr>
            <tr>
                <td>id_ARMY_ID</td>
                <td>String</td>
                <td>100</td>  
            </tr>
            <tr>
                <td>Add_time</td>
                <td>Date</td>
                <td>100</td>  
            </tr>
            <tr>
                <td>address</td> 
                <td>String</td>
                <td>100</td> 
            </tr>
            <tr>
                <td>Addloation</td>  
                <td>String</td>
                <td>100</td>
            </tr>
            <tr>
                <td>formation</td>
                <td>String</td>
                <td>100</td>  
            </tr>
            <tr>
                <td>ptype</td>  
                <td>String</td>
                <td>100</td>
            </tr>
            <tr>
                <td>threat</td>  
                <td>String</td>
                <td>100</td>
            </tr>
        </tbody>
    </table> -->
    <a [href]="fileUrl" download="excel-file.xlsx" class="btn btn-primary">View Excel Sheet</a>

    <!-- Display the table (if data is available) -->
    <table *ngIf="tableData.length > 0" class="table  table-bordered table-hover">
      <thead class="bg-info text-white">
        <tr>
            <th *ngFor="let columnName of columnNames">{{ columnName }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
            <td *ngFor="let columnName of columnNames">{{ row[columnName] }}</td>
          <!-- Repeat for other columns -->
        </tr>
      </tbody>
    </table>
</div>

    </div>
</div>
