
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Admin</div>
    <div class="page__content shadow p-3 position-relative">
      
  
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                  <img class="card-img-top" src="assets/images/user.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Users</h5>
                  <p class="card-text">It will shows list of people who have authentication.and admin can add users</p>
                  <!-- <button type="button" routerLink="/users" class="btn btn-success active"><span class="bi bi-eye"></span> View</button> -->
                  <a href="/users"><div class="icon-container">
                    <span class="bi bi-eye-fill" data-toggle="tooltip" data-placement="top" title="View"></span>
                  </div></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                  <img class="card-img-top" src="assets/images/database.jpg" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Databases</h5>
                  <p class="card-text"> It will shows data of people in the form of Excel sheet .Admin can upload data</p>
                  <a href="/databases"><div class="icon-container">
                    <span class="bi bi-eye-fill" data-toggle="tooltip" data-placement="top" title="View"></span>
                  </div></a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                  <img class="card-img-top" src="assets/images/seeker.jpg" alt="Card image cap">
                </div>
                
                <div class="card-body text-center">
                  <h5 class="card-title">Configure Seeker Analytics</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/seeker-analytics"><div class="icon-container">
                    <span class="bi bi-eye-fill" data-toggle="tooltip" data-placement="top" title="View"></span>
                  </div></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 pt-5">
              <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                  <img class="card-img-top" src="assets/images/human1.png" alt="Card image cap">
                </div>
                
                <div class="card-body text-center">
                  <h5 class="card-title">Configure HumanINT Analytics</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/human-int-analytics" ><div class="icon-container">
                    <span class="bi bi-eye-fill" data-toggle="tooltip" data-placement="top" title="View"></span>
                  </div></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 pt-5">
              <div class="card shadow" style="width: 18rem;">
                <div class="inner">
                  <img class="card-img-top" src="assets/images/Human.png" alt="Card image cap">
                </div>
                
                <div class="card-body text-center">
                  <h5 class="card-title">Cofigure CDR,IPDR,TDR Analytics</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="/cit-analytics"><div class="icon-container">
                    <span class="bi bi-eye-fill" data-toggle="tooltip" data-placement="top" title="View"></span>
                  </div></a>
                </div>
              </div>
            </div>


          </div>
      </div>


      </div>
   
</div>


