<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Analytics</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                  <div class="inner">
                    <img class="card-img-top" src="assets/images/seeker1.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title"> Seeker</h5>
                    <p class="card-text">It will shows list of people who have authentication.and admin can add users</p>
                    <!-- <button type="button" routerLink="/users" class="btn btn-success active"><span class="bi bi-eye"></span> View</button> -->
                    <a href="/dashboard"><i class="bi bi-eye-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                  <div class="inner">
                    <img class="card-img-top" src="assets/images/anolomelies.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title">CDR</h5>
                    <p class="card-text"> It will shows data of people in the form of Excel sheet .Admin can upload data</p>
                    <a href="/anomalies"><i class="bi bi-eye-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow" style="width: 18rem;">
                  <div class="inner">
                    <img class="card-img-top" src="assets/images/unusual.jpg" alt="Card image cap">
                  </div>
                  
                  <div class="card-body text-center">
                    <h5 class="card-title">IPDR</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/unsualmovements"><i class="bi bi-eye-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pt-5">
                <div class="card shadow" style="width: 18rem;">
                  <div class="inner">
                    <img class="card-img-top" src="assets/images/gis1.png" alt="Card image cap">
                  </div>
                  
                  <div class="card-body text-center">
                    <h5 class="card-title">TDR</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/gis-analytics" ><i class="bi bi-eye-fill"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pt-5">
                <div class="card shadow" style="width: 18rem;">
                  <div class="inner">
                    <img class="card-img-top" src="assets/images/humanint.jpg" alt="Card image cap">
                  </div>
                  
                  <div class="card-body text-center">
                    <h5 class="card-title">HumanINT</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/gis-analytics" ><i class="bi bi-eye-fill"></i></a>
                  </div>
                </div>
              </div>
  
  
            </div>
        </div>
    </div>
</div>
