<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Source data</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container-fluid mt-4">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card shadow" style="width: 18rem;">
            <div class="inner">
              <img class="card-img-top" src="assets/images/databaseview.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">guest_2023-02-17</h5>
              <p class="card-text">This collection is about Guest data</p>
              
              <!-- <button type="button" routerLink="/users" class="btn btn-success active"><span class="bi bi-eye"></span> View</button> -->
              <div class="social">
                <a href="source-view"><i class="bi bi-eye-fill"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow" style="width: 18rem;">
            <div class="inner">
              <img class="card-img-top" src="assets/images/databaseview.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">CDR Data</h5>
              <p class="card-text"> This collection is about Guest data</p>
              <div class="social">
                <a href=""><i class="bi bi-eye-fill"></i></a>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow" style="width: 18rem;">
            <div class="inner">
              <img class="card-img-top" src="assets/images/databaseview.jpg" alt="Card image cap">
            </div>
            
            <div class="card-body text-center">
              <h5 class="card-title">Seeker_2003-02-17</h5>
              <p class="card-text">This collection is about Seeker data.</p>
              <div class="social">
                <a href=""><i class="bi bi-eye-fill"></i></a>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-5">
          <div class="card shadow" style="width: 18rem;">
            <div class="inner">
              <img class="card-img-top" src="assets/images/databaseview.jpg" alt="Card image cap">
            </div>
            
            <div class="card-body text-center">
              <h5 class="card-title">Collection4</h5>
              <p class="card-text">This collection is about Guest data</p>
              <div class="social">
                <a href=""><i class="bi bi-eye-fill"></i></a>
              </div>
             
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-5">
          <div class="card shadow" style="width: 18rem;">
            <div class="inner">
              <img class="card-img-top" src="assets/images/databaseview.jpg" alt="Card image cap">
            </div>
            
            <div class="card-body text-center">
              <h5 class="card-title">Collection 5</h5>
              <p class="card-text">This collection is about Guest data</p>
              <div class="social">
                <a href=""><i class="bi bi-eye-fill"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-5">
          <div class="card shadow" style="width: 18rem;">
            <div class="inner">
              <img class="card-img-top" src="assets/images/databaseview.jpg" alt="Card image cap">
            </div>
            
            <div class="card-body text-center">
              <h5 class="card-title">Collection 5</h5>
              <p class="card-text">This collection is about Guest data.</p>
              <div class="social">
              <a href="/#"><i class="bi bi-eye-fill"></i></a>
              
            </div>
            </div>
          </div>
        </div>

      </div>
  </div>
  </div>
  
