<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><a  routerLinkActive="list-item-active" routerLink="/home">
        <i class="bi bi-arrow-left-circle-fill"></i></a>Source Data</div>
    <div class="page__content shadow p-3 position-relative">
<div class="container">
    <div class="section-title ">
        <h4>guest_2023-02-17</h4>    
      </div>
    <div class="right">
        <span class="bi bi-plus-square-fill" data-toggle="tooltip" data-placement="top" title="Add"></span>
        <span class="bi bi-trash-fill" data-toggle="tooltip" data-placement="top" title="Delete"></span>
        <span class="bi bi-pencil-fill" data-toggle="tooltip" data-placement="top" title="Edit"></span>
        <span class="bi bi-cloud-arrow-up-fill" data-toggle="tooltip" data-placement="top" title="upload"></span>
        <span class="bi bi-restore-from-trash" data-toggle="tooltip" data-placement="top" title="Restore"></span>
        <span class="bi bi-save-fill" data-toggle="tooltip" data-placement="top" title="Backup"></span>
        <span class="bi bi-arrow-clockwise" data-toggle="tooltip" data-placement="top" title="Refresh"></span>
        
        
    </div>
        
    <table class="table  table-bordered table-hover">
        <thead class="bg-info text-white">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Check Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>380</td>
                <td>Shatanu Bisaria</td>
                <td>Added</td>    
            </tr>
            <tr>
                <td>381</td>
                <td>Ritik batham</td>
                <td>Added</td>    
            </tr>
            <tr>
                <td>380</td>
                <td>Shathanu Gatham</td>
                <td>Check-IN</td>    
            </tr>
            <tr>
                <td>380</td>
                <td>Shitanshu Tiweri</td>
                <td>Check-IN</td>    
            </tr>
            <tr>
                <td>380</td>
                <td>Rakesh Mallick</td>
                <td>Check-IN</td>
                   
            </tr>
            <tr>
                <td>380</td> 
                <td>Mahmmed Qualid</td>
                <td>Check-IN</td> 
            </tr>
            <tr>
                <td>380</td>
                <td>Iqbal Quadiri</td>
                <td>Check-IN</td>
                  
            </tr>
           
        </tbody>
    </table>
</div>

</div>
</div>
