<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><a  routerLinkActive="list-item-active" routerLink="/home">
        <i class="bi bi-arrow-left-circle-fill"></i></a>Source Data</div>
    <div class="page__content shadow p-3 position-relative">
<div class="container">
  <div class="row">
    <div class="section-title ">
        <h4 *ngIf="collectionName">{{collectionName}}</h4>    
      </div>
    <div class="col-md-9">
      <div class="table-container">
    <table class="styled-table">
        <thead>
          <tr>
            <th *ngFor="let columnName of csvData[0] | keyvalue">{{ columnName.key }}</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor="let row of csvData; let i = index" class="table-row" (mouseenter)="showButtons(i)" (mouseleave)="hideButtons(i)">
      
            <td *ngFor="let cell of row | keyvalue  ">
              {{cell.value}}
            <div class="icon-container">
              <span class="bi bi-plus-square" *ngIf="showAdd[i]" (click)="addRow()" data-toggle="tooltip" data-placement="top" title="Add"></span>
              <span class="bi bi-pencil-square" *ngIf="showEdit[i]" (click)="editRow(row)" data-toggle="tooltip" data-placement="top" title="Edit"></span>
              <span class="bi bi-dash-square" *ngIf="showDelete[i]" (click)="deleteRow(row)" data-toggle="tooltip" data-placement="top" title="Delete"></span>
            </div>
        </td>
          </tr>
        </tbody> -->
      </table>
    </div>
    </div>
    <div class="col-md-3
    
    ">
      <div class="file-upload-container">
        <div class="file-drop-container" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
          <p>Drag and drop a CSV file here</p>
          <p>or</p>
          <label class="upload-icon">
            <input type="file" (change)="onFileSelected($event)" hidden #fileInput />
            <span class="bi bi-cloud-upload"></span>
          </label>
          <button
          type="button"
          (click)="onUpload()"
          class="btn btn-outline-primary active btn-upload">Upload</button>
          <div *ngIf="loading" class="loading-symbol">
            <i class="bi bi-hourglass-split"></i> Uploading...
          </div>
          <p class="file-name" *ngIf="selectedFileName">{{selectedFileName}}</p>
        </div>
       
      </div>
    </div>
        
</div>
</div>



</div>
</div>
